/* Force un fond noir et supprime les marges */
body {
    background: #000;
    margin: 0;
    overflow: hidden;
}

/* Fait en sorte que la vidéo remplisse tout l'écran */
#decryptVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}