body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E0E0E0; /* Fond gris clair */
    background-image: radial-gradient(#C8C8C8 1px, transparent 1px); /* Points gris clair */
    background-size: 20px 20px; /* Taille des points et de l'espace */
    font-family: 'Roboto Mono', monospace; 
}

/* Le conteneur du bouton audio */
#bouton-visualiseur {
    width: 350px; 
    height: 120px; 
    background-color: #000000; 
    border: 2px solid #2563EB; 
    border-radius: 8px; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(37, 99, 235, 0.5); 
    transition: all 0.2s ease-in-out; 
    position: relative; /* ESSENTIEL pour la superposition */
}

#bouton-visualiseur:hover {
    box-shadow: 0px 0px 30px rgba(37, 99, 235, 0.8); 
}

/* L'icône du livre */
#icone-livre {
    color: #FFFFFF; 
    font-size: 3.5em; 
    margin-bottom: 20px; 
    z-index: 2; /* S'assure que le livre est au-dessus de tout */
}

/* LIGNE POINTILLÉE (Statique) */
.ligne-pointillee-statique {
    position: absolute;
    bottom: 20px;
    left: 10%; /* (100% - 80%) / 2 */
    width: 80%;
    height: 1px;
    background-image: linear-gradient(to right, #FFFFFF 50%, transparent 50%);
    background-size: 8px 1px;
    background-repeat: repeat-x;
    background-position: center;
    z-index: 1; /* Derrière les barres animées */
    transform: translateZ(0); /* Force le rendu GPU pour corriger le bug */
}

/* Conteneur des barres du visualiseur */
#visualiseur-conteneur {
    display: flex;
    align-items: flex-end; /* Les barres poussent vers le HAUT */
    height: 15px; /* Hauteur max de l'animation */
    width: 80%; 
    justify-content: space-between;
    overflow: hidden; 
    position: absolute; /* Superposé à la ligne statique */
    bottom: 20px; /* Positionné exactement sur la ligne statique */
    left: 10%;
    z-index: 2; /* Devant la ligne statique */
    transform: translateZ(0); /* Force le rendu GPU pour corriger le bug */
}

/* Style de base pour CHAQUE barre */
.barre-visualiseur {
    width: 3px;
    height: 0px; /* Hauteur minimale (0px pour révéler la ligne pointillée) */
    background-color: #FFFFFF; 
    margin: 0 1px;
    transition: height 0.05s ease-out; 
    display: block; 
}