
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #0d1117; /* Fond très sombre */
}
.font-tech {
    font-family: 'Share Tech Mono', monospace;
}
/* Animation de clignotement pour le curseur */
.cursor-blink::after {
    content: '_';
    animation: blink 1s step-end infinite;
}
@keyframes blink {
    from, to { color: transparent; }
    50% { color: #00ff00; } /* Couleur du curseur */
}
/* Animation pour l'effet de "scanline" */
.scanline {
    position: relative;
}
.scanline::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 255, 0, 0.1);
    animation: scan 4s linear infinite;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
}
@keyframes scan {
    0% { transform: translateY(-10px); }
    100% { transform: translateY(100vh); }
}
/* Classe pour le texte "crypté" */
.encrypted {
    color: #444; /* Texte grisé */
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
    user-select: none; /* Empêche la sélection */
    filter: blur(0.5px);
}

/* --- AJOUT: Animation "data glitched" pour le thème Nyx --- */
.data-glitched {
    display: inline-block;
    /* Vert vif pour correspondre au thème du terminal */
    color: #00ff00; 
    min-width: 150px; /* Un peu plus large */
    text-align: left;
    position: relative;
}

.data-glitched::before {
    content: '48 65 6c 6c 6f'; /* Contenu initial */
    display: inline-block;
    /* Animation qui change le 'content' */
    animation: glitch-text-green 150ms infinite step-end;
}

@keyframes glitch-text-green {
    0% { content: '48 65 6c 6c 6f'; }
    10% { content: '9!A4 5S&? 7C 0A'; }
    20% { content: 'Z3<9 12$* 31 32'; }
    30% { content: '12S4 >9#% 00 00'; }
    40% { content: '9B*1 23&1 9F 92'; }
    50% { content: '4$23 S9!1 20 57'; }
    60% { content: '5*<1 !2A* B8 00'; }
    70% { content: 'C&12 S4!@ 0D 11'; }
    80% { content: '312S 4$*? F0 9F'; }
    90% { content: '00X1 2S&1 65 6C'; }
    100% { content: '1S>9 1*!& 21 0A'; }
}

/* --- AJOUT: Glitch JS Aléatoire --- */
.data-glitched-random {
    display: inline-block;
    color: #00ff00; /* Vert vif */
    min-width: 150px;
    text-align: left;
    
}


.placeholder-img {
    flex-basis: 35%;
    min-width: 250px;
    height: 300px;
    background-color: #000; 
    border: 1px dashed #004d00; 
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    color: #004d00; 
}
.placeholder-img span {
    font-size: 1.5rem;
    border: 1px solid #004d00; 
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    color: #00e600; 
}