
body {
    background-color: #121212;
    color: #eaeaea; 
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.console-output {
    flex-grow: 1; 
    overflow-y: auto; 
    white-space: pre-wrap;
    word-break: break-all;
    
}


.prompt {
    color: #eaeaea;
}
.prompt .user {
    color: #ff4141; 
    text-shadow: 0 0 2px #ff4141;
}
.prompt .host {
    color: #eaeaea; /* Blanc */
}
.prompt .path {
    color: #8ab4f8; /* Bleu */
}
.prompt .symbol {
    color: #eaeaea; /* Blanc */
}


.line-command {
    color: #eaeaea; /* Commande tapée */
}
.line-info {
    color: #00cccc; /* Cyan */
}
.line-success {
    color: #00e600; /* Vert */
}
.line-warning {
    color: #ffff00; /* Jaune */
}
.line-error {
    color: #ff4141; /* Rouge */
}

.cursor-blink {
    animation: blink 1s step-end infinite;
    display: inline-block;
    width: 0.6em;
    height: 1em;
    background-color: #eaeaea; /* Curseur blanc */
    vertical-align: middle;
    margin-left: 0.2em;
}
@keyframes blink {
    50% { opacity: 0; }
}